body {
    background-image: url('snowy.png');
    filter: blur(px);
}

img {
  height: 25%;
  width: 100%;
}

.title {
    color: black;
    width: 20%;
    margin: auto;
    text-align: center;
    font-size: larger;
    border: 5px;
    border-color: black;
    border-style: solid;
}

.main {
    margin: auto;
    height: 70%;
    width: 70%;
    border: 10px;
    border-color: black;
    border-style: dashed;
}

.leaderboard {
    margin-left: auto;
    width: 12%;
    height: 30%;
    border: 5px;
    border-color: black;
    border-style: solid;
    position: absolute;
    left: 86%;
    text-align: center;
}

.snowflakes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  
  .snowflake {
    position: absolute;
    width: 20px; /* Set the width of the snowflake */
    height: 20px; /* Set the height of the snowflake */
    background-image: url('snowflake.webp'); /* Set the image path */
    background-size: cover;
    animation: snowfall linear infinite;
  }
  
  @keyframes snowfall {
    0% {
      transform: translateY(-100vh);
      opacity: 0;
    }
    100% {
      transform: translateY(100vh);
      opacity: 1;
    }
  }
  
  /* Custom styles for snowflakes */
  .snowflake:nth-child(1) {
    left: 5%;
    animation-duration: 9s;
  }
  
  .snowflake:nth-child(2) {
    left: 10%;
    animation-duration: 26s;
  }
  
  .snowflake:nth-child(3) {
    left: 15%;
    animation-duration: 11s;
  }

  .snowflake:nth-child(4) {
    left: 20%;
    animation-duration: 14s;
  }

  .snowflake:nth-child(5) {
    left: 25%;
    animation-duration: 19s;
  }

  .snowflake:nth-child(6) {
    left: 35%;
    animation-duration: 22s;
  }

  .snowflake:nth-child(7) {
    left: 40%;
    animation-duration: 20s;
  }

  .snowflake:nth-child(8) {
    left: 45%;
    animation-duration: 18s;
  }

  .snowflake:nth-child(9) {
    left: 50%;
    animation-duration: 20s;
  }

  .snowflake:nth-child(10) {
    left: 55%;
    animation-duration: 10s;
  }

  .snowflake:nth-child(11) {
    left: 60%;
    animation-duration: 7s;
  }

  .snowflake:nth-child(12) {
    left: 65%;
    animation-duration: 16s;
  }

  .snowflake:nth-child(13) {
    left: 70;
    animation-duration: 23s;
  }

  .snowflake:nth-child(14) {
    left: 75%;
    animation-duration: 11s;
  }

  .snowflake:nth-child(15) {
    left: 80%;
    animation-duration: 11s;
  }

  .snowflake:nth-child(16) {
    left: 85%;
    animation-duration: 20s;
  }

  .snowflake:nth-child(17) {
    left: 90%;
    animation-duration: 18s;
  }

  .snowflake:nth-child(18) {
    left: 95%;
    animation-duration: 16s;
  }

  .snowflake:nth-child(19) {
    left: 100%;
    animation-duration: 13s;
  }

  .snowflake:nth-child(20) {
    left: 5%;
    animation-duration: 15s;
  }

  .snowflake:nth-child(21) {
    left: 20%;
    animation-duration: 38s;
  }
  .snowflake:nth-child(22) {
    left: 40%;
    animation-duration: 37s;
  }
  .snowflake:nth-child(23) {
    left: 60%;
    animation-duration: 33s;
  }
  .snowflake:nth-child(24) {
    left: 80%;
    animation-duration: 31s;
  }
  .snowflake:nth-child(25) {
    left: 48%;
    animation-duration: 35s;
  }